{% extends 'guest/base.html' %}

{% block content %}
<div class="wrap">
    <form action="" method="post">
        {% csrf_token %}
      <div class="fields"> Tài khoản <br><br> {{ form.username }}</div>
      <div class="fields"> Mật khẩu <br><br> {{ form.password }}</div>
      <input class="button-custom" type="submit" value="Đăng nhập">
    </form>
  </div>
{% endblock content %}


{% block more_links %}
    <a href="{% url 'guest:login' %}">Đăng nhập</a>
    <a href="{% url 'guest:register' %}">Đăng ký</a>
{% endblock more_links %}
